.android/
.idea/
.vscode/
.gradle/
.jdks/
.m2/
.Origin/
.QtWebEngineProcess/
.VirtualBox/
3D-Objekte/
AndroidStudioProjects/
ansel/
Bilder/
Desktop/
Dokumente/
Downloads
Favoriten/
flutter/
IdeaProjects/
OneDrive/
VirtualBox VMs/
